

<div *ngFor="let product of products" class="eachProduct">

  <!-- <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p> -->

  <main id="container">
    <h1><a [title]="product.name + ' details'" >{{ product.name }}</a></h1>
    <div class="img-wrapper">
        <img src="https://d13yacurqjgara.cloudfront.net/users/2733/screenshots/741958/dribbble-foxes.jpg" alt="Just Background">
    </div>
    <p class="detail" *ngIf="product.description" >Description: {{ product.description }}</p>
  
    <div class="button-wrapper">
        <div class="layer"></div>
        <button class="main-button fa fa-info" (click)="share()">
          <i class="material-icons">add_circle_outline</i>
        </button>
    </div>



  </main>

  
  <!-- <app-product-alerts
    [product]="product" 
    (notify)="onNotify()">
  </app-product-alerts> -->


  

</div>
